.nav-bar {
  display: flex;
  background-color: blue;
  padding: 20px;
  margin: -10px;
  margin-bottom: 20px;
}

.nav-item {
  margin-right: 10px;
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.nav-link {
  text-decoration: none;
}

.nav-item:hover {
  color: rgba(235, 235, 235, 0.701);
}
