.item-content {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  margin-top: 30px;
  width: 75%;
  margin: 0 auto;
}

.name-image {
  border: 5px solid blue;
  padding: 10px;
  margin-right: 15px;
  border-radius: 25px;
}

.price-description {
  width: 50%;
  border: 5px solid blue;
  padding: 10px;
  border-radius: 25px;
}

.product-title {
  font-size: 30px;
}

.product-image {
  height: 40vh;
  border: 2px solid black;
}

.product-description {
  font-size: 20px;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
}

.add-button {
  margin-left: 35%;
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 25px;
  margin-top: 100px;
  border-radius: 24px;
  border: 3px solid black;
}

.add-button:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
  border: 3px solid blue;
}
